@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background: #fafafa;
}

label,
input {
  display: block;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.MuiContainer-root {
  margin-top: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.MuiFormGroup-root {
  margin: 1rem;
}

.MuiInputLabel-root {
  margin-bottom: 0.4rem;
}
